* {
  margin: 10;
  padding: 10;
}

 /* #root {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk5NU9U-3YTXgV9G8xWpVvSetD4N-ffUzZUg&usqp=CAU); 
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}  */

#root {
  background-color: yellowgreen;
}

.menu-navbar {
  padding-left: 20px;
  
  padding-left: 45px;
}

.outline-secondary {
color: #650861;
}

a {
  color: rgb(62, 6, 62) !important;
  text-decoration: underline;
  font-style: oblique;
  font-size: larger;
}

.logo {
  font-family:fantasy;
  font-size: 30px ;
}

.main-page {
  text-align: center;
  font-style: oblique;
  color: rgb(16, 2, 2);
}

.main-page h5 {
color: #650861;
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 40px;
}

.products-card {
  margin-left: auto;
  width: 28%;
  margin-top: 50px;
}

.products-card img {
  object-fit:unset;
  height: 250px;
}

.add-new-product button {
  color: gray;
  background-color: white;
  border-color: gray;
  margin-top: 20px;
}

.add-new-product button:hover {
  color: white;
  background-color: #650861;
}

   p {
    margin-left: 30px;
  text-align: left;
  width: 60%;
}
li {
  font-weight: 600 ;
}

.pagination {
  display: flex;
 justify-content: center;
 margin-top: 35px;

}
.rukodelya {
  font-style: oblique;
  margin-left: 90px;
}

span {
  display: flex;
  justify-content: center; 
  font-weight:700 ;
}


@media all and (max-width: 795px) {
  .products-card {
    width: 45%;
  }
}

@media all and (max-width: 592px) {
  .products-card {
    width: 75%;
  }
  .products {
    justify-content: center;
  }
}

@media all and (max-width: 400px) {
  .products-card {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
.rukodelya {
  width: 50%;
}
}

@media all and (max-width: 500px) {
  img {
width: 80%;
  }
  
}

@media all and (max-width: 400px) {
  .edit-products-page {
   width: 50%;
  }
}